html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#center {
  text-align: center;
}

#searchbar {
  text-align: center;
}
p, li, h6, #back {
  font-family: 'Quicksand', sans-serif;
  font-size: 120%;
  font-weight: bold;
}

h1, h3 {
  font-family: 'Cabin', sans-serif;

}
#artist_search, #song_search {
  margin-bottom: 11px;
}


#albumsList li {
  padding: 7px 0;
}

.container {
  width: 100%;
  padding: 20px;
}

video {
  height: 40px;
  width: 250px;
}
/*
.row-fluid {
  padding: 20px;
}*/

#related-artists, #albums {
  list-style-type: none;
}

.test {
  display: block;
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

#albumsList li:hover {
  
}
