#center {
  text-align: center;
}

#searchbar {
  text-align: center;
}

h1, h2 {
  font-family: 'Cabin', sans-serif;

}
#submit {
  margin-bottom: 10px;

}

.container {
  width: 100%;
  padding: 20px;
}

video {
  height: 40px;
  width: 250px;
}
/*
.row-fluid {
  padding: 20px;
}*/

#related-artists, #albums {
  list-style-type: none;
}

.test {
  display: block;
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

#albumsList li:hover {
  
}
